@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

button{
    background:rgb(108, 99, 255)!important;
  }
    .errorDiv {
      position: relative;
      width: 100%;
    }

    .error {
      position: absolute;
      font-size: 12px;
      margin-left: 45px;
      margin-top: 2px;
      color: red;
    }